.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: rgb(238, 134, 37);
    font-weight: 500;
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;

    &:hover {
        background: rgb(204, 97, 26);
        color: rgb(255, 255, 255);
        border: none;
    }
}
