.header {
    background-color: #29b193;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 142px;
    margin-left: 5px;
    margin-right: 19px;
    margin-top: 9px;
    margin-bottom: 3px;
    object-fit: contain;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__link {
    color: white;
    text-decoration: none;
}

.header__option {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__search {
    display: flex;
    flex: 1;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    color: white;
    background-color: rgb(133, 98, 228);
    cursor: pointer;
}

.header__searchIcon:hover {
    background-color: rgb(92, 43, 226);
}

.header__lineOne {
    font-size: 14px;
    font-weight: 800;
}


.header__lineTwo {
    font-size: 12px;
    text-align: center;
}
